*{box-sizing: border-box; text-align: center;}

/*border: size style color */



body.border { background-color: pink;}


section, article {
    height: 250px;
}

aside{
    height: 510px
}





.border {
    border: 3px solid black;
    margin: 10px;
    background-color: red;
}


.left { float: left; width: 50%; }

.right { float: right; width: 50%; }

.clear { clear: both; }

